@font-face {
  font-family: "Space Mono";
  src: url("../../assets/fonts/SpaceMono-Bold.ttf") format("truetype"), url("../../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

.results-amount {
  font-size: 3rem;
  line-height: 4.4375rem;
  letter-spacing: -0.0625rem;
}

.radio-input + label, .radio-custom::placeholder, .radio-custom, .form-input {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.btn-reset {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.results-name span, .form-label, .error-message {
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
}

.card {
  padding: 2rem 1.5rem;
  border-radius: 25px;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .card {
    padding: 2rem 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    padding: 2rem;
  }
}

.radio-custom, .form-input {
  padding: 0.38rem 1.07rem;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  color: #00474B;
  background-color: #F3F9FA;
}

.btn:focus-visible, .radio-input:focus-visible, .radio-custom:focus-visible, .form-input:focus-visible {
  outline: 2px solid;
  outline-color: #5E7A7D;
  outline-offset: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.55rem;
  height: 100vh;
  font-family: "Space Mono", sans-serif;
  color: #7F9D9F;
  background-color: #C5E4E7;
}
@media only screen and (min-width: 1200px) {
  body {
    gap: 5.49rem;
  }
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  display: flex;
  gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .card {
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 1199.98px) {
  .card {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    flex-direction: row;
    gap: 3rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 327px;
}
@media only screen and (min-width: 768px) {
  .form {
    gap: 1.5rem;
    width: 457px;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    gap: 2.5rem;
    width: 379px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  color: #5E7A7D;
}

.form-legend {
  margin-bottom: 0.5rem;
}

.form-thumb {
  position: relative;
}
.form-thumb .icon {
  position: absolute;
  top: 50%;
  left: 1.06rem;
  transform: translateY(-50%);
  flex-shrink: 0;
}
.form-thumb .icon-dollar {
  width: 10px;
  height: 15.5px;
}
.form-thumb .icon-person {
  width: 13px;
  height: 16px;
}

.form-input {
  transition-property: outline;
  transition-duration: 300ms;
  transition-timing-function: ease;
  text-align: right;
}
.form-input::placeholder {
  color: rgba(0, 71, 75, 0.35);
}
.error-message {
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: ease;
  position: absolute;
  top: 0;
  right: 0;
  color: #E17052;
}
.error-message.is-hidden {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 767.98px) {
  .error-message {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
  }
}

.success {
  border: 2px solid;
  border-color: #26C2AE;
}

.error {
  border: 2px solid;
  border-color: #E17052;
}

.radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media only screen and (min-width: 768px) {
  .radio {
    grid-template-columns: repeat(3, 1fr);
  }
}

.radio-field {
  position: relative;
}

.radio-input {
  transition-property: background-color, color, outline;
  transition-duration: 300ms;
  transition-timing-function: ease;
  display: block;
  height: 48px;
  padding: 0.38rem 1.07rem;
  border-radius: 5px;
  text-align: center;
  background-color: #00474B;
  cursor: pointer;
}
.radio-input:checked {
  background-color: #26C2AE;
}
.radio-input:hover, .radio-input:focus, .radio-input:active {
  background-color: #9FE8DF;
}
.radio-input + label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  pointer-events: none;
}
.radio-input:checked + label {
  color: #00474B;
}

.radio-custom {
  transition-property: outline;
  transition-duration: 300ms;
  transition-timing-function: ease;
  text-align: center;
  color: #00474B;
  background-color: #F3F9FA;
}
.radio-custom::placeholder {
  color: #547878;
}
@media only screen and (min-width: 1200px) {
  .radio-custom {
    padding: 0.38rem 0.75rem;
  }
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 327px;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: #00474B;
}
@media only screen and (min-width: 768px) {
  .results {
    gap: 1rem;
    width: 457px;
  }
}
@media only screen and (min-width: 1200px) {
  .results {
    gap: 8rem;
    width: 413px;
  }
}

.results-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .results-content {
    gap: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .results-content {
    gap: 1.5rem;
  }
}

.results-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-name span {
  color: #FFFFFF;
}

.results-amount {
  color: #26C2AE;
}

.btn {
  transition-property: background-color, color, outline;
  transition-duration: 300ms;
  transition-timing-function: ease;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #9FE8DF;
}
.btn-reset {
  padding: 0.56rem 2.41rem;
  width: 100%;
  color: #00474B;
  background-color: #26C2AE;
}
.btn-reset[disabled] {
  color: #085C61;
  background-color: #0D686D;
}/*# sourceMappingURL=main.css.map */