@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fn.get-sp('sp-200');

    @include mx.mq('md') {
        grid-template-columns: repeat(3, 1fr);
    }
}

.radio-field {
    position: relative;
}

.radio-input {
    @include mx.ease(background-color, color, outline);

    display: block;
    height: 48px;
    padding: 0.38rem 1.07rem;
    border-radius: 5px;

    text-align: center;

    background-color: fn.get-color('green-900');
    cursor: pointer;

    &:checked {
        background-color: fn.get-color('green-400');
    }

    &:hover,
    &:focus,
    &:active {
        background-color: fn.get-color('green-200');
    }

    &:focus-visible {
        @extend %focus-outline;
    }

    & + label {
        @extend %preset-3;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: fn.get-color('white');

        pointer-events: none;
    }
    
    &:checked + label {
        color: fn.get-color('green-900');
    }
}

.radio-custom {
    @extend %number-input;

    @include mx.ease(outline);
    
    text-align: center;

    color: fn.get-color('green-900');
    background-color: fn.get-color('grey-50');

    &::placeholder {
        @extend %preset-3;

        color: fn.get-color('grey-550');
    }

    &:focus-visible {
        @extend %focus-outline;
    }

    @include mx.mq('lg') {
        padding: 0.38rem 0.75rem;
    }
}